.education {
  padding: 100px 80px;
  background: #fff;
  text-align: center;
}

.education h2 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #413c3c;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background: #f9f7f7;
  padding: 20px;
  border-radius: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.timeline-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px #4d43bf;
}

.timeline-icon {
  font-size: 40px;
  color: #4d43bf;
  margin-top: 5px;
}

.timeline-content h3 {
  margin: 0;
  font-size: 22px;
  color: #413c3c;
}

.timeline-content span {
  display: block;
  font-size: 16px;
  color: #413c3c;
  margin-bottom: 8px;
}

.timeline-content p {
  color: #ccc;
  font-size: 16px;
}
