.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 80px;
  background: #fff;
  color: #413c3c;
}

.hero-content {
  max-width: 600px;
  text-align: left;
}

.hero-content h1 {
  font-size: 28px;
  font-weight: bold;
}

.hero-content h1 span {
  color: #4d43bf; /* Bold Accent */
  font-size: 32px;
}

.hero-image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px solid #413d3d;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-image img {
    width: 300px;
    margin-top: 30px;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .hero-content h2 {
    font-size: 22px;
  }
}
